@font-face{
    font-family:'MontserratSemiBold';
    src: url('..fonts/MontserratSemiBold.woff') format ('woff'), url ('..fonts/MontserratSemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
html, body{
    width: 100%;
    height: 100%;

    background: #DDDDDD;
    
    
}

main {
    font-family: 'Montserrat', sans-serif;
    position: relative;
/*##########################################################ШАПКА##########################################################    */
}
header {
    position: sticky;
    max-width: 1350px;
    height: 81px;
    top: 30px;
    margin: 0 auto;
    background: rgba(217, 217, 217, 0.4); 
    border-radius: 20px;
    
    
}
.logo{
    float: left;
    margin: 25px 15px 15px 90px;
    font-weight:bold;
    
    height: 35px;
    background: #6FA9BB;
    border-radius: 7px;
    
    

}


.logo h1{
    padding: 10px 6.6px;
    font-weight: 1000;
    color: white;
}
.title_container{
    float: left;
    margin: 30px 60px 30px 2px;
    font-size: 25px;
}
.menu1{
    float:left;
    margin: 30px 17px 30px 85px;
    font-size: 20px;
    
}

.menu1 li{
    float: left;
    margin-right: 15px;
    display: flex;
       
}

.menu1 a{
    transition-duration: 0.3s;
}
.menu1 a:hover{
    font-size: 25px;
    color:darkcyan;
}
/*##########################################################КОНЕЦ ШАПКИ##########################################################    */
/*##########################################################ЛИД##########################################################    */
.leadframe{
    margin:  33px auto 250px ;
    max-width: 1250px;
    height: 552px;
    background: #EDEDED;
    border-radius: 20px;
    flex-wrap: wrap;
    background-image: url(../img/lead_img.png);
    background-repeat: no-repeat;
    background-position: right;
}
.lead{
    width: 720px;
    height: 302px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    border:   solid #000;
    
}

.lead h1{
    padding: 135px 0 0;
    margin-bottom: 20px;
}
.lead h2{
    font-size: 20px;
    margin-bottom: 25px;
}
.lead a{
    
    width: 150px;
    height: 50px;
    background: #6FA9BB;
    display: flex;
    
    display: inline-block;
    padding: 5px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
}
.lead a:hover{
    background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ ЛИДА##########################################################    */

/*##########################################################УСЛУГИ##########################################################    */
.services{
    max-width: 100%;
    margin-bottom: 130px; 
}

.services h1{
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 29px;
    
}
.services_container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.services_container div{
    display: inline-block;
    width: 300px;
    height: 390px;
    margin: 0 0 10px 10px;
    border-radius: 20px;
    background: #EDEDED;
}
.services_container div img{
    margin: 25px 36px 25px;
}

.services_container div a{
    width: 247.83px;
    height: 80px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    color: white;
    align-items: flex-end;
    background: #6FA9BB;
    border-radius: 10px;
    
    transition-duration: 0.3s 
}


.bodyframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}




.legframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}



.handframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}


.shoulderframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}


/*##########################################################КОНЕЦ УСЛУГ##########################################################    */

/*##########################################################ЗАПИСЬ НА ПРИЁМ1##########################################################    */
.appointment_frame{
    max-width: 1050px;
    height: auto;
    margin: 150px auto 150px;
}
.appointment_frame h1{
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin: 0 0 33px;
}
.appointment{
    border-radius: 30px;
    background: #eee;
    padding: 20px;
}


.appointment  input{ 
    display: block;
    width: 360px;
    height: 50px;
    margin: 0 90px 30px;
    border-radius: 20px;
    padding-left: 20px; 
    font-weight: 700;
    
} 
.appointment select{
    display: block;
    width: 360px;
    height: 50px;
    margin: 0 90px 30px;
    border-radius: 20px;
    padding-left: 20px; 
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    
}
.appointment textarea{
    
    float: right;
    width: 370px;
    height: 210px;
    margin: -320px 100px 0 0;
    border-radius: 20px;
    padding: 15px;
    resize: none
    
    
}


.appointment a{
    background: #6FA9BB;
    
    width: 370px;
    height: 68.1px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin:-100px 100px 0 0;
    
    transition-duration: 0.3s;
}
.appointment a:hover{
    background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ ЗАПИСИ НА ПРИЁМ1##########################################################    */

/*##########################################################АРТОСКОПИЯ##########################################################    */
.arthroscopy_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;
}
.arthroscopy{
    padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
 .arthroscopy h1{ 
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
} 

.arthroscopy p{
    padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.arthroscopy a{
    
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
    

}

.arthroscopy a:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ АРТОСКОПИИ##########################################################    */

/*##########################################################ХТС##########################################################    */
.legsurg_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;

}
.legsurg{
    
   padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
.legsurg h1{
    
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
}

.legsurg p{
    
     padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.legsurg a{
    
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;

}
.legsurg a:hover{
    background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ ХТС##########################################################    */
/*##########################################################КОЛЕНО##########################################################    */
.kneesurg_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;
}
.kneesurg{
    padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
 .kneesurg h1{ 
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
} 

.kneesurg p{
    padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.kneesurg a{
    
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
    

}

.kneesurg a:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ КОЛЕНА##########################################################    */
/*##########################################################ОСТЕОТОМИЯ##########################################################    */

.osteotomy_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;
}
.osteotomy{
    padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
 .osteotomy h1{ 
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
} 

.osteotomy p{
    padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.osteotomy a{
    
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
    

}

.osteotomy a:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################БЛОГ##########################################################    */

.blog{
    max-width: 100%;
    margin: 0 auto 130px;
 
}

.blog h1{
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 29px;
    
}
.blog_container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.blog_container div{
    display: inline-block;
    width: 300px;
    height: 390px;
    margin: 0 0 10px 10px;
    border-radius: 20px;
    background: #EDEDED;
}


.recframe img{
    margin: 19px 0 18px 48px

}
.artframe img{
    margin: 40px 37.5px 30px 37.5px;
}
.qualframe img{
    margin: 40px 37.5px 29px 37.5px;
}

.blog_container div a{
    width: 247.83px;
    height: 80px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    color: white;
    align-items: flex-end;
    background: #6FA9BB;
    border-radius: 10px;
    
    transition-duration: 0.3s 
}


.recframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}




.artframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}



.qualframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}


.patentframe a:hover{
    background: rgba(0,0,0,0);
	color: black;
	box-shadow: inset 0 0 0 3px #3a7999;
}

/*##########################################################КОНЕЦ БЛОГА##########################################################    */
/*##########################################################РЕКОМЕНДАЦИИ##########################################################    */

.recomend_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;
}
.recomend{
    padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
 .recomend h1{ 
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
} 

.recomend p{
    padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.recomend a{
    
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
    

}

.recomend a:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ РЕКОМЕНДАЦИЙ##########################################################    */

/*##########################################################СТАТЬИ##########################################################    */



.articles_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;
}
.articles{
    padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
 .articles h1{ 
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
} 

.articles p{
    padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.articles a{
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
    

}

.articles a:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ СТАТЕЙ##########################################################    */

/*##########################################################КВАЛИФИКАЦИИ##########################################################    */

.qualifications_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;
}
.qualifications{
    padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
 .qualifications h1{ 
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
} 

.qualifications p{
    padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.qualifications a{
    
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
    

}

.qualifications a:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ КВАЛИФИКАЦИИ##########################################################    */

/*##########################################################ПАТЕНТЫ##########################################################    */


.patents_frame{
    
    max-width: 1250px;
    height: auto;
    margin: 0 auto 130px;
    background: #EDEDED;
    border-radius: 25px;
}
.patents{
    padding: 30px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
 .patents h1{ 
    margin: 0 0 30px 0;
    width: 336.12px;
    height: 138px;
    background: #6FA9BB;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
} 

.patents p{
    padding: 0 650px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.patents a{
    
    display: flex;
    margin: 100px auto 0px;
    width: 300px;
    height: 68.1px;
    background: #6FA9BB;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px 0px;
    font-size: 22px;
    border-radius: 20px;
    
    transition-duration: 0.3s;
    

}

.patents a:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
/*##########################################################КОНЕЦ ПАТЕНТОВ##########################################################    */

/*##########################################################ОСТАВЬТЕ ЗАЯВКУ##########################################################    */
.appointment_frame2{
    max-width: 100%;
    margin: 0 auto 130px;
}
.appointment_frame2 h1{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 30px 0;
    
}
.appointment2{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;


}
.appointment2_container{

    width: 788px;
    height: auto;
    background: #EDEDED;
    border-radius: 20px;
border: 1px solid #000;
    flex-wrap: wrap;
}


.left{  
    display: inline-block;
    border: 1px solid #000;
    float: left;
    margin:30px 0 15px 78px;

    
}
.left input,select{
    display: block;
    width: 301px;
    height: 37px;
    margin-top: 8px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    background: #DDDDDD;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Montserrat', serif;
}

.right{
    display: inline-block;
    border: 1px solid #000;
    margin: 30px 55px 30px 0; 
    float: right;
}
.right textarea,input{
    display: block;
}
.right textarea{
    resize: none;
    width: 301px;
    height: 127px;
    margin-top: 8px;
    border-radius: 10px; 
    padding: 15px;
}
.right input{
    width: 301px;
    height: 37px;
    margin-top: 8px;
    background:#6FA9BB;
    border-radius: 10px;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;

    transition-duration: 0.5s;
}



.submit:hover{
    background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

footer{
    min-width: 100%;
    height: 26px;
    margin: 0 30px 0 0;
}
.footmenu{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.footmenu li{
    margin: 0 5px 30px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    
    
}
.footmenu a{
    transition-duration: 0.3s;
}
.footmenu a:hover{
    
	color: white;;
	
}

